*{
    background: #1F2937;
}
#title1{
    position: absolute;
    width: 354px;
    height: 40px;
    left: 52px;
    top: 118px;
    font-weight: 800;
    font-family: 'Karla',sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 40px;
letter-spacing: -0.025em;
}
#title2{
    position: absolute;
    position: absolute;
    width: 400px;
    height: 40px;
    left: 52px;
    top: 156px;
    font-weight: 800;
font-family: 'Karla',sans-serif;
font-style: normal;
font-size: 40px;
color: #4ADF86;
}
#subheading{
    position: absolute;
    width: 400px;
height: 28px;
    left: 52px;
    top: 235px;
    right:126px;
    bottom: 314px;
    font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #D5D4D8;
}
#button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 40px;
position: absolute;
width: 240px;
height: 42px;
left: 52px;
top: 325px;
color: rgb(0, 0, 0);
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
background: #10B981;
border-radius: 6px;cursor: pointer;
outline:none;
}
button::before{
    content: url("./Lightning\ bolt.png");
    position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: 9px;
right: 5px;
}
#box1{
    display: flex;
flex-direction: row;
justify-content: center;
    position: absolute;
width: 237px;
height: 35px;
left: 52px;
top: 420px;

background: #273549;
border-radius: 6px;
color: #10B981;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
outline:none;
}

#box2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
        position: absolute;
    width: 237px;
    height: 35px;
left: 400px;
top: 420px;

background: #273549;
border-radius: 6px;
color: #10B981;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
outline:none;
}

#box3{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
        position: absolute;
    width: 237px;
    height: 35px;
    left: 52px;
    top: 520px;
    background: #273549;
border-radius: 6px;
color: #10B981;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
outline:none;
}

#box4{
    display: flex;
    flex-direction: row;
    justify-content: center;
        position: absolute;
    width: 237px;
    height: 35px;
    left: 400px;
    top: 520px;
    background: #273549;
border-radius: 6px;
color: #10B981;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
outline:none;
}
#box5{
    display: flex;
    flex-direction: row;
    justify-content: center;
        position: absolute;
    width: 237px;
    height: 42px;
    left: 400px;
    top: 325px;
    background: #f1f1f1;
border-radius: 6px;
color: #000000;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
outline:none;
}
#box5::-webkit-outer-spin-button,
#box5::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
